*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, section
{
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

#home
{
    background-image: url("../gambar/1.png");
    background-size: cover;
    background-attachment: fixed;
}

.tengah
{
    top: 35%;
    left: 35%;  
    position: absolute; 
    text-align: center; 
}

.tengah h1
{
    font-size: 80px;
    font-weight: bold;
    color: rgb(189, 183, 107);
}

.tengah p
{
    font-size: 40px;
    margin-top: 0;
}

.tengah a
{
    display: block;
    background-color: Gray;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
}

.tengah a:hover
{
    background-color: rgb(189, 183, 107);
    transition-duration: 1s;
}

h2
{
    font-size: 50px;
}

h2, h3, h4, h5, h6
{
    margin-bottom: 20px;
}

p
{
    margin-top: 10px;
}

#about
{
    background-color: rgb(189, 183, 107);
    color: white;
    padding: 100px;
    color: black;
}

.satu{
    text-align: center;
}

.baris
{
    border: 0px solid black;
    overflow: hidden;
}

.kolom
{
    float: left;
    border: 0px solid tomato;
    padding: 20px;
}

.kolom-50
{
    width: 50%;
}

.kolom-33
{
    width: 33%;
}

.gambar-thumnel
{
    width: 100%;
    display: block;
    border: 10px solid white;
}

#paket
{
    background-color: Gray;
    color: black;
    padding: 100px;
}

.kotak-paket
{
    background-color: rgb(189, 183, 107);
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.gambar-bulat
{
    border: 2px solid white;
    width: 100%;
    border-radius: 3%;
    height: 230px;
    display: block;
    margin: auto;
}

.lihat
{
    background-color: dodgerblue;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

#footer
{
    background-color: black;
    color: white;
    height: 500px;
    padding: 80px;
}


.gambarBanner img {
    width: 300px;
    height: 300px;
    margin: auto;
}